product-list {
  .filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 4rem;
  }

  .filter__input-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
  }

  .filter__title {
    margin: 0;
  }

  .filter__input_text {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) 3fr;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
}
